@import url('https://fonts.googleapis.com/css?family=Inconsolata');

html {
  background-color: #f7f7f7;
}

.overlay {
  display: grid;
  background-color: #f7f7f7;
  max-width: 1170px;
  margin: 0 auto;
  height: 90vh;
}

.Home {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}
.Home[isHeader='header'] {
  grid-template-columns: 1fr 10rem;
  grid-template-rows: 10rem 1fr;
}

.leftHome {
  margin: auto;
}

.rightHome {
  margin: auto;
}
.rightHome[isHeader='header'] {
  grid-row: 1;
  grid-column: 2;
}

.nameHome {
  font-family:'Inconsolata', monospace;
  font-weight: bolder;
  color: #F285AC;
  text-align: left;
  line-height: 5rem;
  text-shadow: -1px 1px, 1px 1px;
  font-size: 5rem;
}

.flexContainerButtonHome {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: flex-end;
  align-items: center;
}

button {
  font-family:'Inconsolata', monospace;
  letter-spacing: 0.15rem;
  border: none;
  color: white;
  text-align: center;
  font-size: 1.5rem;
  cursor: pointer;
  padding: 1rem 1.5rem;
  width: 10rem;
  margin:0.5rem;
}

p {
  font-family:'Inconsolata', monospace;
  font-size: 1.5rem;
  letter-spacing: 0.15rem;
  color: #474747;
  text-align: left;
}
