@import url('https://fonts.googleapis.com/css?family=Inconsolata');
.overlay {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: #f7f7f7;
}
.flexContainerHome {
  position: absolute;
  top: 35%;
  left: 10%;
  width: 80%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items:center;
  justify-content: center;
}

.leftHome {
  flex: 0 1 30%;
}
.rightHome {
  flex: 0 1 50%;
}


.nameHome {
  font-family:'Inconsolata', monospace;
  font-weight: bolder;
  font-size: 5rem;
  color: #F285AC;
  text-align: left;
  line-height: 1rem;
  text-shadow: -1px 1px, 1px 1px;
}


.flexContainerButtonHome {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: flex-end;
  align-items: center;
}

button {
  font-family:'Inconsolata', monospace;
  letter-spacing: 0.15rem;
  border: none;
  color: white;
  text-align: center;
  font-size: 1.5rem;
  cursor: pointer;
  padding: 1rem 1.5rem;
  width: 10rem;
}

p {
  font-family:'Inconsolata', monospace;
  font-size: 1.5rem;
  letter-spacing: 0.15rem;
  color: #474747;
  text-align: left;
}

@media (max-width: 1190px) {
  .leftHome, .rightHome {
    flex: 100%;
  }
  .nameHome {
    font-family:'Inconsolata', monospace;
    font-weight: bolder;
    font-size: 5rem;
    color: #F285AC;
    text-align: center;
    line-height: 1rem;
    text-shadow: -1px 1px, 1px 1px;
  }
  p {
    font-family:'Inconsolata', monospace;
    font-size: 1.5rem;
    letter-spacing: 0.15rem;
    color: #474747;
    text-align: center;
  }
}
